<h1>Danh sách người dùng</h1>
<a href="/users/add" class="btn btn-primary">Thêm mới</a>
<form action="">
  <div class="row py-3">
    <div class="col-3">
      <select name="status" id="" class="form-control">
        <option value="all">Tất cả</option>
        <option value="active">Kích hoạt</option>
        <option value="inactive">Chưa kích hoạt</option>
      </select>
    </div>
    <div class="col-7">
      <input
        type="search"
        class="form-control"
        placeholder="Tìm kiếm"
        name="keyword"
      />
    </div>
    <div class="col-2">
      <button class="btn btn-success">Tìm kiếm</button>
    </div>
  </div>
</form>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Tên</th>
      <th>Email</th>
      <th>Trạng thái</th>
      <th>Thời gian</th>
      <th>Sửa</th>
      <th>Xóa</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(user => { %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email%></td>
      <td><%= user.status?"Kích hoạt":"Chưa kích hoạt" %></td>
      <td><%= moment(user.created_at).format("DD/MM/YYYY HH:mm:ss") %></td>
      <td>
        <a
          href="users/edit/<%=user.id%>"
          class="d-block btn btn-warning mx-auto w-fit-content"
          >Sửa</a
        >
      </td>
      <td>
        <form
          action="/users/delete/<%= user.id %>"
          method="post"
          class="mx-auto"
        >
          <button class="d-block btn btn-danger mx-auto">Xóa</button>
        </form>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <% if (page >1 ) { %>
    <li class="page-item">
      <a class="page-link" href="?page=<%= +page-1 %>">Trước</a>
    </li>
    <% } %> <% for( let index = 1; index <= totalPage; index++ ) { %>
    <li class="page-item">
      <a class="page-link" href="?page=<%= index %>"><%= index %></a>
    </li>
    <% } %> <% if (page < totalPage ) { %>
    <li class="page-item">
      <a class="page-link" href="?page=<%= +page+1 %>">Sau</a>
    </li>
    <% } %>
  </ul>
</nav>
